/*
** Assumes Default Location of the SQL Server Data and Log files
*/
if exists (select * from sysdatabases where [name] = '$(DatabaseName)')
begin
	ALTER DATABASE [$(DatabaseName)] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
	DROP DATABASE [$(DatabaseName)]
end
go
CREATE DATABASE [$(DatabaseName)]
GO
SET TRANSACTION ISOLATION LEVEL SNAPSHOT
GO
ALTER DATABASE [$(DatabaseName)] set RECOVERY SIMPLE

USE [$(DatabaseName)]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [$(DatabaseName)] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
