SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HIVE].[AuthenticateLog](
	[AuthenticateID] [int] IDENTITY(0,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[RequestDate] [datetime] NULL,
	[IPAddress] [varchar](50) NULL,
	[Success] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthenticateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
