SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [HIVE].[fnStr2BitDefault]
(
	@Str NVARCHAR(MAX),
	@Default BIT
)
RETURNS BIT
AS
BEGIN

	RETURN (CASE @Str WHEN 'true' THEN 1 WHEN 'false' THEN 0 ELSE @Default END)

END
GO
