SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [HIVE].[fnStr2Bit]
(
	@Str NVARCHAR(MAX)
)
RETURNS BIT
AS
BEGIN

	RETURN (CASE WHEN @Str = 'true' THEN 1 ELSE 0 END)

END
GO
