SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [HIVE].[fnXMLValue]
(
	@Tag NVARCHAR(MAX),
	@Value NVARCHAR(MAX)
)
RETURNS NVARCHAR(MAX)
AS
BEGIN

	RETURN (CASE WHEN @Value IS NULL THEN '/>' ELSE '>'+REPLACE(REPLACE(REPLACE(@Value,'&','&amp;'),'>','&gt;'),'<','&lt;') + '</'+@Tag+'>' END)

END
GO
