SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HIVE].[IM_DB_LOOKUP](
	[C_DOMAIN_ID] [varchar](255) NOT NULL,
	[C_PROJECT_PATH] [varchar](255) NOT NULL,
	[C_OWNER_ID] [varchar](255) NOT NULL,
	[C_DB_FULLSCHEMA] [varchar](255) NOT NULL,
	[C_DB_DATASOURCE] [varchar](255) NOT NULL,
	[C_DB_SERVERTYPE] [varchar](255) NOT NULL,
	[C_DB_NICENAME] [varchar](255) NULL,
	[C_DB_TOOLTIP] [varchar](255) NULL,
	[C_COMMENT] [varchar](max) NULL,
	[C_ENTRY_DATE] [datetime] NULL,
	[C_CHANGE_DATE] [datetime] NULL,
	[C_STATUS_CD] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_DOMAIN_ID] ASC,
	[C_PROJECT_PATH] ASC,
	[C_OWNER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
