SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[CONCEPT_DIMENSION_NEW](
	[CONCEPT_PATH] [varchar](700) NOT NULL,
	[CONCEPT_CD] [varchar](50) NULL,
	[NAME_CHAR] [varchar](2000) NULL,
	[CONCEPT_BLOB] [varchar](max) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DOWNLOAD_DATE] [datetime] NULL,
	[IMPORT_DATE] [datetime] NULL,
	[SOURCESYSTEM_CD] [varchar](50) NULL,
	[UPLOAD_ID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
