SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[CQ2_SKETCH_PATH15x256](
	[CONCEPT_PATH_ID] [int] NOT NULL,
	[B] [tinyint] NOT NULL,
	[V0] [int] NULL,
	[V1] [int] NULL,
	[V2] [int] NULL,
	[V3] [int] NULL,
	[V4] [int] NULL,
	[V5] [int] NULL,
	[V6] [int] NULL,
	[V7] [int] NULL,
	[V8] [int] NULL,
	[V9] [int] NULL,
	[V10] [int] NULL,
	[V11] [int] NULL,
	[V12] [int] NULL,
	[V13] [int] NULL,
	[V14] [int] NULL,
	[V15] [int] NULL,
	[V16] [int] NULL,
	[V17] [int] NULL,
	[V18] [int] NULL,
	[V19] [int] NULL,
	[V20] [int] NULL,
	[V21] [int] NULL,
	[V22] [int] NULL,
	[V23] [int] NULL,
	[V24] [int] NULL,
	[V25] [int] NULL,
	[V26] [int] NULL,
	[V27] [int] NULL,
	[V28] [int] NULL,
	[V29] [int] NULL,
	[V30] [int] NULL,
	[V31] [int] NULL,
	[V32] [int] NULL,
	[V33] [int] NULL,
	[V34] [int] NULL,
	[V35] [int] NULL,
	[V36] [int] NULL,
	[V37] [int] NULL,
	[V38] [int] NULL,
	[V39] [int] NULL,
	[V40] [int] NULL,
	[V41] [int] NULL,
	[V42] [int] NULL,
	[V43] [int] NULL,
	[V44] [int] NULL,
	[V45] [int] NULL,
	[V46] [int] NULL,
	[V47] [int] NULL,
	[V48] [int] NULL,
	[V49] [int] NULL,
	[V50] [int] NULL,
	[V51] [int] NULL,
	[V52] [int] NULL,
	[V53] [int] NULL,
	[V54] [int] NULL,
	[V55] [int] NULL,
	[V56] [int] NULL,
	[V57] [int] NULL,
	[V58] [int] NULL,
	[V59] [int] NULL,
	[V60] [int] NULL,
	[V61] [int] NULL,
	[V62] [int] NULL,
	[V63] [int] NULL,
	[V64] [int] NULL,
	[V65] [int] NULL,
	[V66] [int] NULL,
	[V67] [int] NULL,
	[V68] [int] NULL,
	[V69] [int] NULL,
	[V70] [int] NULL,
	[V71] [int] NULL,
	[V72] [int] NULL,
	[V73] [int] NULL,
	[V74] [int] NULL,
	[V75] [int] NULL,
	[V76] [int] NULL,
	[V77] [int] NULL,
	[V78] [int] NULL,
	[V79] [int] NULL,
	[V80] [int] NULL,
	[V81] [int] NULL,
	[V82] [int] NULL,
	[V83] [int] NULL,
	[V84] [int] NULL,
	[V85] [int] NULL,
	[V86] [int] NULL,
	[V87] [int] NULL,
	[V88] [int] NULL,
	[V89] [int] NULL,
	[V90] [int] NULL,
	[V91] [int] NULL,
	[V92] [int] NULL,
	[V93] [int] NULL,
	[V94] [int] NULL,
	[V95] [int] NULL,
	[V96] [int] NULL,
	[V97] [int] NULL,
	[V98] [int] NULL,
	[V99] [int] NULL,
	[V100] [int] NULL,
	[V101] [int] NULL,
	[V102] [int] NULL,
	[V103] [int] NULL,
	[V104] [int] NULL,
	[V105] [int] NULL,
	[V106] [int] NULL,
	[V107] [int] NULL,
	[V108] [int] NULL,
	[V109] [int] NULL,
	[V110] [int] NULL,
	[V111] [int] NULL,
	[V112] [int] NULL,
	[V113] [int] NULL,
	[V114] [int] NULL,
	[V115] [int] NULL,
	[V116] [int] NULL,
	[V117] [int] NULL,
	[V118] [int] NULL,
	[V119] [int] NULL,
	[V120] [int] NULL,
	[V121] [int] NULL,
	[V122] [int] NULL,
	[V123] [int] NULL,
	[V124] [int] NULL,
	[V125] [int] NULL,
	[V126] [int] NULL,
	[V127] [int] NULL,
	[V128] [int] NULL,
	[V129] [int] NULL,
	[V130] [int] NULL,
	[V131] [int] NULL,
	[V132] [int] NULL,
	[V133] [int] NULL,
	[V134] [int] NULL,
	[V135] [int] NULL,
	[V136] [int] NULL,
	[V137] [int] NULL,
	[V138] [int] NULL,
	[V139] [int] NULL,
	[V140] [int] NULL,
	[V141] [int] NULL,
	[V142] [int] NULL,
	[V143] [int] NULL,
	[V144] [int] NULL,
	[V145] [int] NULL,
	[V146] [int] NULL,
	[V147] [int] NULL,
	[V148] [int] NULL,
	[V149] [int] NULL,
	[V150] [int] NULL,
	[V151] [int] NULL,
	[V152] [int] NULL,
	[V153] [int] NULL,
	[V154] [int] NULL,
	[V155] [int] NULL,
	[V156] [int] NULL,
	[V157] [int] NULL,
	[V158] [int] NULL,
	[V159] [int] NULL,
	[V160] [int] NULL,
	[V161] [int] NULL,
	[V162] [int] NULL,
	[V163] [int] NULL,
	[V164] [int] NULL,
	[V165] [int] NULL,
	[V166] [int] NULL,
	[V167] [int] NULL,
	[V168] [int] NULL,
	[V169] [int] NULL,
	[V170] [int] NULL,
	[V171] [int] NULL,
	[V172] [int] NULL,
	[V173] [int] NULL,
	[V174] [int] NULL,
	[V175] [int] NULL,
	[V176] [int] NULL,
	[V177] [int] NULL,
	[V178] [int] NULL,
	[V179] [int] NULL,
	[V180] [int] NULL,
	[V181] [int] NULL,
	[V182] [int] NULL,
	[V183] [int] NULL,
	[V184] [int] NULL,
	[V185] [int] NULL,
	[V186] [int] NULL,
	[V187] [int] NULL,
	[V188] [int] NULL,
	[V189] [int] NULL,
	[V190] [int] NULL,
	[V191] [int] NULL,
	[V192] [int] NULL,
	[V193] [int] NULL,
	[V194] [int] NULL,
	[V195] [int] NULL,
	[V196] [int] NULL,
	[V197] [int] NULL,
	[V198] [int] NULL,
	[V199] [int] NULL,
	[V200] [int] NULL,
	[V201] [int] NULL,
	[V202] [int] NULL,
	[V203] [int] NULL,
	[V204] [int] NULL,
	[V205] [int] NULL,
	[V206] [int] NULL,
	[V207] [int] NULL,
	[V208] [int] NULL,
	[V209] [int] NULL,
	[V210] [int] NULL,
	[V211] [int] NULL,
	[V212] [int] NULL,
	[V213] [int] NULL,
	[V214] [int] NULL,
	[V215] [int] NULL,
	[V216] [int] NULL,
	[V217] [int] NULL,
	[V218] [int] NULL,
	[V219] [int] NULL,
	[V220] [int] NULL,
	[V221] [int] NULL,
	[V222] [int] NULL,
	[V223] [int] NULL,
	[V224] [int] NULL,
	[V225] [int] NULL,
	[V226] [int] NULL,
	[V227] [int] NULL,
	[V228] [int] NULL,
	[V229] [int] NULL,
	[V230] [int] NULL,
	[V231] [int] NULL,
	[V232] [int] NULL,
	[V233] [int] NULL,
	[V234] [int] NULL,
	[V235] [int] NULL,
	[V236] [int] NULL,
	[V237] [int] NULL,
	[V238] [int] NULL,
	[V239] [int] NULL,
	[V240] [int] NULL,
	[V241] [int] NULL,
	[V242] [int] NULL,
	[V243] [int] NULL,
	[V244] [int] NULL,
	[V245] [int] NULL,
	[V246] [int] NULL,
	[V247] [int] NULL,
	[V248] [int] NULL,
	[V249] [int] NULL,
	[V250] [int] NULL,
	[V251] [int] NULL,
	[V252] [int] NULL,
	[V253] [int] NULL,
	[V254] [int] NULL,
	[V255] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CONCEPT_PATH_ID] ASC,
	[B] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
