SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[CQ2_FACT_COUNTS_CONCEPT_PATIENT](
	[CONCEPT_CD] [varchar](50) NOT NULL,
	[PATIENT_NUM] [int] NOT NULL,
	[NUM_ENCOUNTERS] [int] NULL,
	[NUM_INSTANCES] [int] NULL,
	[NUM_FACTS] [int] NULL,
	[FIRST_START] [datetime] NULL,
	[LAST_START] [datetime] NULL,
	[LAST_END] [datetime] NULL,
	[MIN_NVAL_NUM] [decimal](18, 5) NULL,
	[MAX_NVAL_NUM] [decimal](18, 5) NULL,
	[MIN_NVAL_L] [bit] NULL,
	[MAX_NVAL_G] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CONCEPT_CD] ASC,
	[PATIENT_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [IDX_PATIENT_CONCEPT] ON [CRC].[CQ2_FACT_COUNTS_CONCEPT_PATIENT]
(
	[PATIENT_NUM] ASC,
	[CONCEPT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
