SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[OBSERVATION_FACT_NEW](
	[ENCOUNTER_NUM] [int] NOT NULL,
	[PATIENT_NUM] [int] NOT NULL,
	[CONCEPT_CD] [varchar](50) NOT NULL,
	[PROVIDER_ID] [varchar](50) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[MODIFIER_CD] [varchar](100) NOT NULL,
	[INSTANCE_NUM] [int] NOT NULL,
	[VALTYPE_CD] [varchar](50) NULL,
	[TVAL_CHAR] [varchar](255) NULL,
	[NVAL_NUM] [decimal](18, 5) NULL,
	[VALUEFLAG_CD] [varchar](50) NULL,
	[QUANTITY_NUM] [decimal](18, 5) NULL,
	[UNITS_CD] [varchar](50) NULL,
	[END_DATE] [datetime] NULL,
	[LOCATION_CD] [varchar](50) NULL,
	[OBSERVATION_BLOB] [varchar](max) NULL,
	[CONFIDENCE_NUM] [decimal](18, 5) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DOWNLOAD_DATE] [datetime] NULL,
	[IMPORT_DATE] [datetime] NULL,
	[SOURCESYSTEM_CD] [varchar](50) NULL,
	[UPLOAD_ID] [int] NULL,
	[TEXT_SEARCH_INDEX] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CRC].[OBSERVATION_FACT_NEW] ADD  DEFAULT ('@') FOR [MODIFIER_CD]
GO
ALTER TABLE [CRC].[OBSERVATION_FACT_NEW] ADD  DEFAULT ((1)) FOR [INSTANCE_NUM]
GO
