SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[OBSERVATION_FACT](
	[ENCOUNTER_NUM] [int] NOT NULL,
	[PATIENT_NUM] [int] NOT NULL,
	[CONCEPT_CD] [varchar](50) NOT NULL,
	[PROVIDER_ID] [varchar](50) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[MODIFIER_CD] [varchar](100) NOT NULL,
	[INSTANCE_NUM] [int] NOT NULL,
	[VALTYPE_CD] [varchar](50) NULL,
	[TVAL_CHAR] [varchar](255) NULL,
	[NVAL_NUM] [decimal](18, 5) NULL,
	[VALUEFLAG_CD] [varchar](50) NULL,
	[QUANTITY_NUM] [decimal](18, 5) NULL,
	[UNITS_CD] [varchar](50) NULL,
	[END_DATE] [datetime] NULL,
	[LOCATION_CD] [varchar](50) NULL,
	[OBSERVATION_BLOB] [varchar](max) NULL,
	[CONFIDENCE_NUM] [decimal](18, 5) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DOWNLOAD_DATE] [datetime] NULL,
	[IMPORT_DATE] [datetime] NULL,
	[SOURCESYSTEM_CD] [varchar](50) NULL,
	[UPLOAD_ID] [int] NULL,
	[TEXT_SEARCH_INDEX] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CONCEPT_CD] ASC,
	[PATIENT_NUM] ASC,
	[ENCOUNTER_NUM] ASC,
	[START_DATE] ASC,
	[MODIFIER_CD] ASC,
	[PROVIDER_ID] ASC,
	[INSTANCE_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [CQ2_IDX_Patient_Concept] ON [CRC].[OBSERVATION_FACT]
(
	[PATIENT_NUM] ASC,
	[CONCEPT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [CRC].[OBSERVATION_FACT] ADD  DEFAULT ('@') FOR [MODIFIER_CD]
GO
ALTER TABLE [CRC].[OBSERVATION_FACT] ADD  DEFAULT ((1)) FOR [INSTANCE_NUM]
GO
