SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[PATIENT_DIMENSION_ORIG](
	[PATIENT_NUM] [int] NOT NULL,
	[VITAL_STATUS_CD] [varchar](50) NULL,
	[BIRTH_DATE] [datetime] NULL,
	[DEATH_DATE] [datetime] NULL,
	[SEX_CD] [varchar](50) NULL,
	[AGE_IN_YEARS_NUM] [int] NULL,
	[LANGUAGE_CD] [varchar](50) NULL,
	[RACE_CD] [varchar](50) NULL,
	[MARITAL_STATUS_CD] [varchar](50) NULL,
	[RELIGION_CD] [varchar](50) NULL,
	[ZIP_CD] [varchar](10) NULL,
	[STATECITYZIP_PATH] [varchar](700) NULL,
	[INCOME_CD] [varchar](50) NULL,
	[PATIENT_BLOB] [varchar](max) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DOWNLOAD_DATE] [datetime] NULL,
	[IMPORT_DATE] [datetime] NULL,
	[SOURCESYSTEM_CD] [varchar](50) NULL,
	[UPLOAD_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PATIENT_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [PA_IDX_UPLOADID] ON [CRC].[PATIENT_DIMENSION_ORIG]
(
	[UPLOAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [PD_IDX_AllPatientDim] ON [CRC].[PATIENT_DIMENSION_ORIG]
(
	[PATIENT_NUM] ASC,
	[VITAL_STATUS_CD] ASC,
	[BIRTH_DATE] ASC,
	[DEATH_DATE] ASC,
	[SEX_CD] ASC,
	[AGE_IN_YEARS_NUM] ASC,
	[LANGUAGE_CD] ASC,
	[RACE_CD] ASC,
	[MARITAL_STATUS_CD] ASC,
	[INCOME_CD] ASC,
	[RELIGION_CD] ASC,
	[ZIP_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [PD_IDX_DATES] ON [CRC].[PATIENT_DIMENSION_ORIG]
(
	[PATIENT_NUM] ASC,
	[VITAL_STATUS_CD] ASC,
	[BIRTH_DATE] ASC,
	[DEATH_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [PD_IDX_StateCityZip] ON [CRC].[PATIENT_DIMENSION_ORIG]
(
	[STATECITYZIP_PATH] ASC,
	[PATIENT_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
