SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[QT_ANALYSIS_PLUGIN_RESULT_TYPE](
	[PLUGIN_ID] [int] NOT NULL,
	[RESULT_TYPE_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PLUGIN_ID] ASC,
	[RESULT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
