SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[QT_ANALYSIS_PLUGIN](
	[PLUGIN_ID] [int] NOT NULL,
	[PLUGIN_NAME] [varchar](2000) NULL,
	[DESCRIPTION] [varchar](2000) NULL,
	[VERSION_CD] [varchar](50) NULL,
	[PARAMETER_INFO] [varchar](max) NULL,
	[PARAMETER_INFO_XSD] [varchar](max) NULL,
	[COMMAND_LINE] [varchar](max) NULL,
	[WORKING_FOLDER] [varchar](max) NULL,
	[COMMANDOPTION_CD] [varchar](max) NULL,
	[PLUGIN_ICON] [varchar](max) NULL,
	[STATUS_CD] [varchar](50) NULL,
	[USER_ID] [varchar](50) NULL,
	[GROUP_ID] [varchar](50) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PLUGIN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [QT_APNAMEVERGRP_IDX] ON [CRC].[QT_ANALYSIS_PLUGIN]
(
	[PLUGIN_NAME] ASC,
	[VERSION_CD] ASC,
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
