SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[QT_BREAKDOWN_PATH](
	[NAME] [varchar](100) NULL,
	[VALUE] [varchar](2000) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[USER_ID] [varchar](50) NULL
) ON [PRIMARY]
GO
