SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[QT_PATIENT_SET_COLLECTION](
	[PATIENT_SET_COLL_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RESULT_INSTANCE_ID] [int] NULL,
	[SET_INDEX] [int] NULL,
	[PATIENT_NUM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PATIENT_SET_COLL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [QT_IDX_QPSC_RIID] ON [CRC].[QT_PATIENT_SET_COLLECTION]
(
	[RESULT_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [CRC].[QT_PATIENT_SET_COLLECTION]  WITH CHECK ADD  CONSTRAINT [QT_FK_PSC_RI] FOREIGN KEY([RESULT_INSTANCE_ID])
REFERENCES [CRC].[QT_QUERY_RESULT_INSTANCE] ([RESULT_INSTANCE_ID])
GO
ALTER TABLE [CRC].[QT_PATIENT_SET_COLLECTION] CHECK CONSTRAINT [QT_FK_PSC_RI]
GO
