SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[QT_QUERY_RESULT_SKETCH](
	[RESULT_INSTANCE_ID] [int] NOT NULL,
	[SKETCH_SIZE] [int] NULL,
	[ORIG_SIZE] [int] NULL,
	[FILTERED_SIZE] [int] NULL,
	[ORIG_ESTIMATE] [int] NULL,
	[FILTERED_ESTIMATE] [int] NULL,
	[ERROR_RELATIVE] [float] NULL,
	[ERROR_ABSOLUTE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RESULT_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
