SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[QT_QUERY_INSTANCE](
	[QUERY_INSTANCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[QUERY_MASTER_ID] [int] NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[GROUP_ID] [varchar](50) NOT NULL,
	[BATCH_MODE] [varchar](50) NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NULL,
	[DELETE_FLAG] [varchar](3) NULL,
	[STATUS_TYPE_ID] [int] NULL,
	[MESSAGE] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[QUERY_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [QT_IDX_QI_MSTARTID] ON [CRC].[QT_QUERY_INSTANCE]
(
	[QUERY_MASTER_ID] ASC,
	[START_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [QT_IDX_QI_UGID] ON [CRC].[QT_QUERY_INSTANCE]
(
	[USER_ID] ASC,
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [CRC].[QT_QUERY_INSTANCE]  WITH CHECK ADD  CONSTRAINT [QT_FK_QI_MID] FOREIGN KEY([QUERY_MASTER_ID])
REFERENCES [CRC].[QT_QUERY_MASTER] ([QUERY_MASTER_ID])
GO
ALTER TABLE [CRC].[QT_QUERY_INSTANCE] CHECK CONSTRAINT [QT_FK_QI_MID]
GO
ALTER TABLE [CRC].[QT_QUERY_INSTANCE]  WITH CHECK ADD  CONSTRAINT [QT_FK_QI_STID] FOREIGN KEY([STATUS_TYPE_ID])
REFERENCES [CRC].[QT_QUERY_STATUS_TYPE] ([STATUS_TYPE_ID])
GO
ALTER TABLE [CRC].[QT_QUERY_INSTANCE] CHECK CONSTRAINT [QT_FK_QI_STID]
GO
