SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[QT_QUERY_RESULT_INSTANCE](
	[RESULT_INSTANCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[QUERY_INSTANCE_ID] [int] NULL,
	[RESULT_TYPE_ID] [int] NOT NULL,
	[SET_SIZE] [int] NULL,
	[START_DATE] [datetime] NOT NULL,
	[END_DATE] [datetime] NULL,
	[STATUS_TYPE_ID] [int] NOT NULL,
	[DELETE_FLAG] [varchar](3) NULL,
	[MESSAGE] [varchar](max) NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[REAL_SET_SIZE] [int] NULL,
	[OBFUSC_METHOD] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[RESULT_INSTANCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CRC].[QT_QUERY_RESULT_INSTANCE]  WITH CHECK ADD  CONSTRAINT [QT_FK_QRI_RID] FOREIGN KEY([QUERY_INSTANCE_ID])
REFERENCES [CRC].[QT_QUERY_INSTANCE] ([QUERY_INSTANCE_ID])
GO
ALTER TABLE [CRC].[QT_QUERY_RESULT_INSTANCE] CHECK CONSTRAINT [QT_FK_QRI_RID]
GO
ALTER TABLE [CRC].[QT_QUERY_RESULT_INSTANCE]  WITH CHECK ADD  CONSTRAINT [QT_FK_QRI_RTID] FOREIGN KEY([RESULT_TYPE_ID])
REFERENCES [CRC].[QT_QUERY_RESULT_TYPE] ([RESULT_TYPE_ID])
GO
ALTER TABLE [CRC].[QT_QUERY_RESULT_INSTANCE] CHECK CONSTRAINT [QT_FK_QRI_RTID]
GO
ALTER TABLE [CRC].[QT_QUERY_RESULT_INSTANCE]  WITH CHECK ADD  CONSTRAINT [QT_FK_QRI_STID] FOREIGN KEY([STATUS_TYPE_ID])
REFERENCES [CRC].[QT_QUERY_STATUS_TYPE] ([STATUS_TYPE_ID])
GO
ALTER TABLE [CRC].[QT_QUERY_RESULT_INSTANCE] CHECK CONSTRAINT [QT_FK_QRI_STID]
GO
