SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[QT_QUERY_RESULT_TYPE](
	[RESULT_TYPE_ID] [int] NOT NULL,
	[NAME] [varchar](100) NULL,
	[DESCRIPTION] [varchar](200) NULL,
	[DISPLAY_TYPE_ID] [varchar](500) NULL,
	[VISUAL_ATTRIBUTE_TYPE_ID] [varchar](3) NULL,
	[USER_ROLE_CD] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RESULT_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
