SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[QT_XML_RESULT](
	[XML_RESULT_ID] [int] IDENTITY(1,1) NOT NULL,
	[RESULT_INSTANCE_ID] [int] NULL,
	[XML_VALUE] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[XML_RESULT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [CRC].[QT_XML_RESULT]  WITH CHECK ADD  CONSTRAINT [QT_FK_XMLR_RIID] FOREIGN KEY([RESULT_INSTANCE_ID])
REFERENCES [CRC].[QT_QUERY_RESULT_INSTANCE] ([RESULT_INSTANCE_ID])
GO
ALTER TABLE [CRC].[QT_XML_RESULT] CHECK CONSTRAINT [QT_FK_XMLR_RIID]
GO
