SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [CRC].[uspUpdateStep3IndexDataTables]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- **********************************************************
	-- **********************************************************
	-- **** Add primary keys and indexes
	-- **********************************************************
	-- **********************************************************

	-- PATIENT_DIMENSION
	ALTER TABLE [CRC].[PATIENT_DIMENSION_NEW] ADD PRIMARY KEY (PATIENT_NUM) WITH (SORT_IN_TEMPDB=ON, DATA_COMPRESSION=PAGE)
	CREATE NONCLUSTERED COLUMNSTORE INDEX [CQ2_CSIDX_AllColumns] ON [CRC].[PATIENT_DIMENSION_NEW] (PATIENT_NUM, VITAL_STATUS_CD, BIRTH_DATE, DEATH_DATE, SEX_CD, AGE_IN_YEARS_NUM, LANGUAGE_CD, RACE_CD, MARITAL_STATUS_CD, RELIGION_CD, ZIP_CD, STATECITYZIP_PATH, INCOME_CD, SOURCESYSTEM_CD)

	-- VISIT_DIMENSION
	ALTER TABLE [CRC].[VISIT_DIMENSION_NEW] ADD PRIMARY KEY (PATIENT_NUM, ENCOUNTER_NUM) WITH (SORT_IN_TEMPDB=ON, DATA_COMPRESSION=PAGE)
	CREATE NONCLUSTERED COLUMNSTORE INDEX [CQ2_CSIDX_AllColumns] ON [CRC].[VISIT_DIMENSION_NEW] (ENCOUNTER_NUM, PATIENT_NUM, ACTIVE_STATUS_CD, START_DATE, END_DATE, INOUT_CD, LOCATION_CD, LOCATION_PATH, LENGTH_OF_STAY, SOURCESYSTEM_CD)

	-- OBSERVATION_FACT
	ALTER TABLE [CRC].[OBSERVATION_FACT_NEW] ADD PRIMARY KEY (CONCEPT_CD, PATIENT_NUM, ENCOUNTER_NUM, START_DATE, MODIFIER_CD, PROVIDER_ID, INSTANCE_NUM) WITH (SORT_IN_TEMPDB=ON, DATA_COMPRESSION=PAGE)
	CREATE NONCLUSTERED INDEX CQ2_IDX_Patient_Concept ON [CRC].[OBSERVATION_FACT_NEW] (PATIENT_NUM, CONCEPT_CD) WITH (SORT_IN_TEMPDB=ON, DATA_COMPRESSION=PAGE)
	CREATE NONCLUSTERED COLUMNSTORE INDEX [CQ2_CSIDX_AllColumns] ON [CRC].[OBSERVATION_FACT_NEW] (ENCOUNTER_NUM, PATIENT_NUM, CONCEPT_CD, PROVIDER_ID, START_DATE, MODIFIER_CD, INSTANCE_NUM, VALTYPE_CD, TVAL_CHAR, NVAL_NUM, VALUEFLAG_CD, UNITS_CD, END_DATE, LOCATION_CD, SOURCESYSTEM_CD)

	-- CONCEPT_DIMENSION
	ALTER TABLE [CRC].[CONCEPT_DIMENSION_NEW] ADD PRIMARY KEY (CONCEPT_PATH)


END
GO
