SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [CRC].[uspUpdateStep6DropOldTables]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-------------------------------------------------------------
	-- Drop "_OLD" tables 
	-------------------------------------------------------------

	-- Data tables
	DROP TABLE CRC.PATIENT_DIMENSION_OLD;
	DROP TABLE CRC.VISIT_DIMENSION_OLD;
	DROP TABLE CRC.OBSERVATION_FACT_OLD;
	DROP TABLE CRC.CONCEPT_DIMENSION_OLD;
	-- CQ2 tables
	DROP TABLE CRC.CQ2_FACT_COUNTS_CONCEPT_PATIENT_OLD;
	DROP TABLE CRC.CQ2_FACT_COUNTS_CONCEPT_OLD;
	DROP TABLE CRC.CQ2_CONCEPT_PATH_OLD;
	DROP TABLE CRC.CQ2_CONCEPT_PATH_CODE_OLD;
	DROP TABLE CRC.CQ2_FACT_COUNTS_PATH_PATIENT_OLD;
	DROP TABLE CRC.CQ2_FACT_COUNTS_PATH_OLD;
	DROP TABLE CRC.CQ2_SKETCH_PATH15x256_OLD;
	DROP TABLE CRC.CQ2_SKETCH_PATH8x256_OLD;
	DROP TABLE CRC.CQ2_SKETCH_PATIENT_OLD;
	-- Ontology tables
	/*
	DROP TABLE ONT.I2B2_OLD;
	*/

END
GO
