SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CRC].[VISIT_DIMENSION](
	[ENCOUNTER_NUM] [int] NOT NULL,
	[PATIENT_NUM] [int] NOT NULL,
	[ACTIVE_STATUS_CD] [varchar](50) NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[INOUT_CD] [varchar](50) NULL,
	[LOCATION_CD] [varchar](50) NULL,
	[LOCATION_PATH] [varchar](900) NULL,
	[LENGTH_OF_STAY] [int] NULL,
	[VISIT_BLOB] [varchar](max) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[DOWNLOAD_DATE] [datetime] NULL,
	[IMPORT_DATE] [datetime] NULL,
	[SOURCESYSTEM_CD] [varchar](50) NULL,
	[UPLOAD_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PATIENT_NUM] ASC,
	[ENCOUNTER_NUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
