SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CRC].[vwCQ2_Ontology] AS
	SELECT DISTINCT C_FULLNAME
	FROM (
		SELECT C_FULLNAME
			FROM ONT.I2B2
			WHERE C_VISUALATTRIBUTES NOT LIKE 'C%' AND M_APPLIED_PATH='@' AND C_TABLENAME='concept_dimension' 
				AND C_FACTTABLECOLUMN='concept_cd' AND C_COLUMNNAME='concept_path' AND C_OPERATOR='LIKE'
		/*
		UNION ALL
		SELECT C_FULLNAME
			FROM ONT.I2B2_NEW
			WHERE C_VISUALATTRIBUTES NOT LIKE 'C%' AND M_APPLIED_PATH='@' AND C_TABLENAME='concept_dimension' 
				AND C_FACTTABLECOLUMN='concept_cd' AND C_COLUMNNAME='concept_path' AND C_OPERATOR='LIKE'
		UNION ALL
		SELECT C_FULLNAME
			FROM ONT.AnotherOntologyTable
			WHERE C_VISUALATTRIBUTES NOT LIKE 'C%' AND M_APPLIED_PATH='@' AND C_TABLENAME='concept_dimension' 
				AND C_FACTTABLECOLUMN='concept_cd' AND C_COLUMNNAME='concept_path' AND C_OPERATOR='LIKE'
		*/
	) t


GO
