SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CRC].[vwCQ2_ConceptDimension] AS
	SELECT CONCEPT_PATH, CONCEPT_CD
	FROM CRC.CONCEPT_DIMENSION
	--FROM CRC.CONCPET_DIMENSION_NEW


GO
