SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ONT].[ONT_PROCESS_STATUS](
	[PROCESS_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROCESS_TYPE_CD] [varchar](50) NULL,
	[START_DATE] [datetime] NULL,
	[END_DATE] [datetime] NULL,
	[PROCESS_STEP_CD] [varchar](50) NULL,
	[PROCESS_STATUS_CD] [varchar](50) NULL,
	[CRC_UPLOAD_ID] [int] NULL,
	[STATUS_CD] [varchar](50) NULL,
	[MESSAGE] [varchar](max) NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGE_DATE] [datetime] NULL,
	[CHANGEDBY_CHAR] [char](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROCESS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
