SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ONT].[SCHEMES](
	[C_KEY] [varchar](50) NOT NULL,
	[C_NAME] [varchar](50) NOT NULL,
	[C_DESCRIPTION] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
