SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ONT].[TABLE_ACCESS](
	[C_TABLE_CD] [varchar](50) NOT NULL,
	[C_TABLE_NAME] [varchar](50) NOT NULL,
	[C_PROTECTED_ACCESS] [char](1) NULL,
	[C_ONTOLOGY_PROTECTION] [varchar](max) NULL,
	[C_HLEVEL] [int] NOT NULL,
	[C_FULLNAME] [varchar](700) NOT NULL,
	[C_NAME] [varchar](2000) NOT NULL,
	[C_SYNONYM_CD] [char](1) NOT NULL,
	[C_VISUALATTRIBUTES] [char](3) NOT NULL,
	[C_TOTALNUM] [int] NULL,
	[C_BASECODE] [varchar](50) NULL,
	[C_METADATAXML] [varchar](max) NULL,
	[C_FACTTABLECOLUMN] [varchar](50) NOT NULL,
	[C_DIMTABLENAME] [varchar](50) NOT NULL,
	[C_COLUMNNAME] [varchar](50) NOT NULL,
	[C_COLUMNDATATYPE] [varchar](50) NOT NULL,
	[C_OPERATOR] [varchar](10) NOT NULL,
	[C_DIMCODE] [varchar](700) NOT NULL,
	[C_COMMENT] [varchar](max) NULL,
	[C_TOOLTIP] [varchar](900) NULL,
	[C_ENTRY_DATE] [datetime] NULL,
	[C_CHANGE_DATE] [datetime] NULL,
	[C_STATUS_CD] [char](1) NULL,
	[VALUETYPE_CD] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
