SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PM].[PM_APPROVALS](
	[APPROVAL_ID] [varchar](50) NOT NULL,
	[APPROVAL_NAME] [varchar](255) NULL,
	[APPROVAL_DESCRIPTION] [varchar](2000) NULL,
	[APPROVAL_ACTIVATION_DATE] [datetime] NULL,
	[APPROVAL_EXPIRATION_DATE] [datetime] NULL,
	[OBJECT_CD] [varchar](50) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL
) ON [PRIMARY]
GO
