SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PM].[PM_CELL_DATA](
	[CELL_ID] [varchar](50) NOT NULL,
	[PROJECT_PATH] [varchar](255) NOT NULL,
	[NAME] [varchar](255) NULL,
	[METHOD_CD] [varchar](255) NULL,
	[URL] [varchar](255) NULL,
	[CAN_OVERRIDE] [int] NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CELL_ID] ASC,
	[PROJECT_PATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
