SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PM].[PM_PROJECT_DATA](
	[PROJECT_ID] [varchar](50) NOT NULL,
	[PROJECT_NAME] [varchar](255) NULL,
	[PROJECT_WIKI] [varchar](255) NULL,
	[PROJECT_KEY] [varchar](255) NULL,
	[PROJECT_PATH] [varchar](255) NULL,
	[PROJECT_DESCRIPTION] [varchar](2000) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
