SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PM].[PM_PROJECT_USER_ROLES](
	[PROJECT_ID] [varchar](50) NOT NULL,
	[USER_ID] [varchar](50) NOT NULL,
	[USER_ROLE_CD] [varchar](255) NOT NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PROJECT_ID] ASC,
	[USER_ID] ASC,
	[USER_ROLE_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
