SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PM].[PM_ROLE_REQUIREMENT](
	[TABLE_CD] [varchar](50) NOT NULL,
	[COLUMN_CD] [varchar](50) NOT NULL,
	[READ_HIVEMGMT_CD] [varchar](50) NOT NULL,
	[WRITE_HIVEMGMT_CD] [varchar](50) NOT NULL,
	[NAME_CHAR] [varchar](2000) NULL,
	[CHANGE_DATE] [datetime] NULL,
	[ENTRY_DATE] [datetime] NULL,
	[CHANGEBY_CHAR] [varchar](50) NULL,
	[STATUS_CD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TABLE_CD] ASC,
	[COLUMN_CD] ASC,
	[READ_HIVEMGMT_CD] ASC,
	[WRITE_HIVEMGMT_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
